<div class='form-container'>

  <%= form_for [current_user, @idea] do |f| %>
    <%= f.label      :title %>
    <%= f.text_field :title %>

    <%= f.label      :body %>
    <%= f.text_area  :body %>

    <%= f.label             :category %>
    <%= f.collection_select :category_id, Category.all, :id, :title %>

    <%= f.label  :quality %>
    <%= f.select :quality, Idea.qualities.keys.to_a %>

    <%= f.label :images %>
    <% if @idea.images.exists? %>
      <% @idea.images.each do |image| %>
        <%= image_tag image.image.url(:medium) %>
      <% end %>
    <% end %>

    <%= f.collection_check_boxes :image_ids, @images, :id, :image_file_name do |b| %>
      <%= b.check_box %>
      <%= b.label %>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>