<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBoxRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="inputs-go-here">
      <div class="input-h1">
        <% if current_user && current_user.admin? %>
          <p><%= link_to 'idea', admin_categories_path %><span id="header-box-text">box</span></p>
        <% elsif  current_user %>
          <p><%= link_to 'idea', user_path(current_user) %><span id="header-box-text">box</span></p>
        <% else %>
          <p><%= link_to 'idea', root_path %><span id="header-box-text">box</span></p>
        <% end %>
      </div>
    </section>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% if !current_user %>
      <%= render partial: 'welcome/index' %>
    <% elsif current_user.admin? %>
      <%= render partial: 'admin/header' %>
    <% else %>
      <%= render partial: 'users/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
