<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBoxRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="inputs-go-here">
      <div class="input-h1"><h1>idea<span id="header-box-text">box</span></h1></div>
    </section>
    <% if !current_user %>
    <%= render partial: 'welcome/index' %>
    <% else %>
    <%= render partial: 'users/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
